<ul class="collection">
    <li class="collection-item">Tejesh <i class="fa fa-circle"  style="color:green; float: right; margin-top: 5px"></i></li>
    <li class="collection-item">Gaurav <i class="fa fa-circle"  style="color:green; float: right; margin-top: 5px"></i></li>
    <li class="collection-item">Hitesh</li>
    <li class="collection-item">Rahul <i class="fa fa-circle"  style="color:green; float: right; margin-top: 5px"></i></li>
</ul>