<br><br>
<div class="row">
    <div class="col s12 m4">
        <div class="card-panel teal center-align" id="currentSpeed">
            <i class="fa fa-tachometer" style="font-size:60px;color:white;"></i>
            <h4 class="center-align white-text">Current Speed &nbsp;&nbsp;&nbsp;&nbsp;</h4>
            <span class="white-text">Current Speed</span>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card-panel teal center-align" id="currentLocation">
            <i class="fa fa-location-arrow" style="font-size:60px;color:white;"></i>
            <h4 class="center-align white-text">Current Location</h4>
            <span class="white-text">Current Location</span>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card-panel teal center-align" id="travelDistance">
            <i class="fa fa-truck " style="font-size:60px;color:white;"></i>
            <h4 class="center-align white-text">Traveled Distance</h4>
            <span class="white-text">Traveled Distance</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m4">
        <div class="card-panel teal center-align" id="history">
            <i class="fa fa-history" style="font-size:60px;color:white;"></i>
            <h4 class="center-align white-text">History &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4> &nbsp;&nbsp;&nbsp;&nbsp;</h4>
            <span class="white-text">History</span>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card-panel teal center-align" id="carAdded">
            <i class="fa fa-car" style="font-size:60px;color:white;"></i>
            <h4 class="center-align white-text">Car Added &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
            <span class="white-text">Car Added</span>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card-panel teal center-align" id="userLicense">
            <i class="fa fa-id-card-o" style="font-size:60px;color:white;"></i>
            <h4 class="center-align white-text">User License &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
            <span class="white-text">User License</span>
        </div>
    </div>
</div>
<br><br>