<br>
<h5 class="grey-text">Your History {{userInfo._id}}</h5>
<br>
<input type="button" value="GetCars" onclick="getUsersCar(`{{userInfo._id}}`);">
  <div class="row">
      <div class="input-field col s4 m4">
    <select class="icons" id="vtype">
      <option value="" disabled selected>Choose your option</option>
      <option value="" data-icon="images/sample-1.jpg" class="circle">example 1</option>
      <option value="" data-icon="images/office.jpg" class="circle">example 2</option>
      <option value="" data-icon="images/yuna.jpg" class="circle">example 3</option>
    </select>
    <label>Select Vehicle Type</label>
  </div>
        <div class="input-field col s4 m4">
    <select class="icons" id="vcomp">
      <option value="" disabled selected>Choose your option</option>
      <option value="" data-icon="images/sample-1.jpg" class="circle">example 1</option>
      <option value="" data-icon="images/office.jpg" class="circle">example 2</option>
      <option value="" data-icon="images/yuna.jpg" class="circle">example 3</option>
    </select>
    <label>Select Company Name</label>
  </div>
        <div class="input-field col s4 m4">
    <select class="icons" id="vno">
      <option value="" disabled selected>Choose your option</option>
      <option value="" data-icon="images/sample-1.jpg" class="circle">example 1</option>
      <option value="" data-icon="images/office.jpg" class="circle">example 2</option>
      <option value="" data-icon="images/yuna.jpg" class="circle">example 3</option>
    </select>
    <label>Select Vehicle No.</label>
  </div>
  </div>

  {{!-- <ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul> --}}